config/Popcorn-Time/
config/configstore/
config/gocode
config/VirtualBox/
config/remmina/
config/psysh/
config/menus/
config/lgogdownloader/
config/freerdp/
config/Skype/
config/systemd/user/default.target.wants
config/MonoDevelop/
config/MonoDevelop-5.0/
config/xbuild/
config/NuGet
config/xbuild
config/chromium/
config/autostart/
config/PornTime/
config/dconf/
config/gtk-*
config/gtk-*/*
config/stetic/
config/ranger/__pycache__
config/ranger/bookmarks
config/ranger/*.py
config/ranger/history
config/ranger/tagged
config/ranger/*.sh
config/gconf/
config/sxiv/
config/htop
config/pulse/
config/cower/
config/iron/
config/libreoffice/
config/mpv/
config/gimp*/
config/awesome/lain/
config/awesome/themes/miro/icons/
config/awesome/themes/miro/wallpaper.*
config/.isolated-storage/
config/.protobuild-cache/
config/libfm
config/skypeforlinux/
mutt/*/cache
mutt/temp
mutt/mailboxes
config/mpd/log
config/mpd/pid
config/mpd/state
config/mpd/playlists
config/mpd/sticker.sql
config/mpd/database
config/vimb/closed
config/vimb/bookmark
config/vimb/command
config/vimb/cookies
config/vimb/history
config/vimb/hsts
config/vimb/queue
config/vimb/search
config/vimb/closed.*
config/vimprobable/closed
config/vimprobable/cookies
config/Trolltech.conf
config/keepassx
config/shaman
config/setroot
config/systemd/user/mail.target.wants
config/systemd/user/sockets.target.wants
irssi/default.theme
irssi/sasl-ecdsa-freenode.key
irssi/sasl-ecdsa-freenode.pub
irssi/sasl.auth
ncmpcpp/error.log
ncmpcpp/artists/
vim/bundle/
vim/plugged/
vim/plugin/
vim/spell/
vim/syntax/
vim/backup/
vim/MarkDownRes
zsh/history/*
zsh/.zcompdump
abook/addressbook
abook/addressbook.bak
abook/addressbook~
.git-*
config/gpick/
mutt/aliases.bak
mutt/aliases
vim/pythonx/__pycache__/
vim/.init.vim-rplugin~
vim/.netrwhist
shaman/cache.json
w3m/history
w3m/cookie
