# Ignore everything
*
# We need to recurse into sub directories, don't ignore!
!*/
# We need to ignore everything inside subfolders
*/*/
# But don't ignore these files
!.gitignore
!README.md
!track
!/tmux/*
!/tmux/*
!/startup/*
!/vim/*.vim
!/vim/vimrc
!/config/ruby-version
!/**/config/sway
!/**/config/i3
!/config/termite
!/config/zathura
!**/sway/*
!**/i3/*
!**/termite/*
!**/zathura/*
!/zsh/**
!**/snippets/*

# But ignore these sub directories
/zsh/history
