# Ignore everything
*
# We need to recurse into sub directories, don't ignore!
!*/
# We need to ignore everything inside subfolders
*/*/
# But don't ignore these files
!.gitignore
!/abook/abookrc
!/config/i3
!/config/ruby-version
!/config/surfraw
!/config/sway
!/config/termite
!/config/zathura
!/config/zathura/colors
!/msmtp/*
!/mutt/accounts
!/mutt/colors
!/mutt/configs
!/mutt/mailcap
!/mutt/muttrc
!/mutt/notmuch-poll.asc
!/mutt/sigs
!/newsbeuter/bookmark
!/newsbeuter/bookmarks.txt
!/newsbeuter/colors
!/newsbeuter/config
!/newsbeuter/urls
!/offlineimap/helpers.py
!/offlineimap/offlineimaprc
!/startup/*
!/tmux/*
!/vim/*.vim
!/vim/vimrc
!/w3m/bookmark.html
!/w3m/config
!/weechat/weechat.conf
!README.md
!install

!**/i3/*
!**/mutt/accounts/*
!**/mutt/colors/*
!**/mutt/configs/*
!**/mutt/sigs/*
!**/surfraw/*
!**/newsbeuter/colors/*
!**/sway/*
!**/termite/*
!**/zathura/*
!**/zathura/colors/*
!/zsh/**

# But ignore these sub directories/files
/zsh/history
