[Unit]
Description=Sync folders from laptop to usb
Requires=media-PHILIPS.mount
After=media-PHILIPS.mount

[Service]
User=sjors
ExecStart=/home/sjors/Victoria/victoria_scripts/sync-philips

[Install]
WantedBy=media-PHILIPS.mount
