[Unit]
Description=Check for updates in repos and AUR

[Service]
Type=oneshot
ExecStart=/usr/bin/checkupdates
ExecStart=/home/sjors/Victoria/victoria_scripts/fetch-aur
TimeoutStopSec=10

[Install]
WantedBy=default.target
