[Unit]
Description=Lock screen after a few minutes of inactivity

[Service]
Type=simple
User=jls
Restart=always
RestartSec=10
ExecStart=/usr/bin/xautolock -time 8 -locker "/usr/bin/slock" -nowlocker "/usr/bin/slock" -detectsleep
ExecReload=/usr/bin/kill -HUB $MAINPID

[Install]
WantedBy=default.target
