# -- Meta ---------------------------------------------------------------------
# -- File:   ${DOTFILES}/mutt/jls.config
# -- Author: SirJls - http://sjorssparreboom.nl
# -----------------------------------------------------------------------------


# -- Display ------------------------------------------------------------------

#     Element               Foreground   Background
color status                brightwhite  black
color indicator             brightwhite  black

set from      = "mail@sirjls.nl"
set sendmail  = "/usr/bin/msmtp -a JLS"
set mbox      = "+JLS/archive"
set record    = "+JLS/INBOX.Sent"
set postponed = "+JLS/INBOX.Draft"
set trash     = "+JLS/INBOX.Trash"

macro index S "<save-message>+JWR/INBOX.Spam<enter>"

# vim:set ft=conf et sw=2 ts=2 tw=79:
