# -- Meta ---------------------------------------------------------------------
# -- File:   ${DOTFILES}/mutt/jls.config
# -- Author: SirJls - http://sjorssparreboom.nl
# -----------------------------------------------------------------------------

# -- Display ------------------------------------------------------------------

#     Element               Foreground   Background
color status                brightwhite  black
color indicator             brightwhite  black

set from      = "mail@sirjls.nl"
set sendmail  = "/usr/bin/msmtp -a JLS"
set mbox      = "+JLS/Archive"
set record    = "+JLS/Sent"
set postponed = "+JLS/Draft"
set trash     = "+JLS/Trash"

macro index S "<save-message>+JLS/Spam<enter>"

# vim:set ft=conf et sw=2 ts=2 tw=79:
