# -- Meta ---------------------------------------------------------------------
# -- File:   ${DOTFILES}/mutt/configs/forgotten_attachment.config
# -- Author: SirJls - http://sjorssparreboom.nl
# -----------------------------------------------------------------------------

set abort_noattach = "ask-yes"

set attach_keyword = "\\<attach(|ed|ments?)\\>"
set attach_keyword = "\\<(bijvoegen|bijgevoegd|bijlage|bijlagen|attachments|attached|attachment)\\>"

# vim:set ft=conf et sw=2 ts=2 tw=79:
