# -- Meta ---------------------------------------------------------------------
# -- File:   ${DOTFILES}/mutt/configs/notmuch.config
# -- Author: SirJls - http://sjorssparreboom.nl
# -----------------------------------------------------------------------------

# -- Bindings -----------------------------------------------------------------

set nm_hidden_tags = "unread,flagged,passed,replied,attachment,signed,encrypted"
set nm_unread_tag = unread

bind index,pager ?? sidebar-toggle-virtual
bind index,pager \` modify-labels
bind index,pager + entire-thread

macro index \\ "<vfolder-from-query>"                                            # looks up a hand made query
macro index A "<modify-labels-then-hide>+archive -unread -inbox\n<sync-mailbox>" # tag as Archived
macro index I "<modify-labels-then-hide>-inbox -unread -new\n<sync-mailbox>"     # removed from inbox
macro index S "<modify-labels-then-hide>-inbox -unread +junk\n<sync-mailbox>"    # tag as Junk mail
macro index d "<modify-labels-then-hide>!killed\n"                               # tag as mail to be killed
macro index * "<modify-labels>!starred\n"                                        # tag as starred
macro index c "<change-vfolder>?"                                                # change to vfolder overview"
macro index tt "<modify-labels>!todo\n"                                          # tag as Archived


# Replace some tags with icons
tag-transforms tag transformed-string { tag transformed-string ...}
tag-transforms "todo"       "✔"    \
               "vicky"      "❤"    \
               "killed"     "✘"    \
               "starred"    "★"    \
               "friends"    "☻"

tag-formats    "todo"       "GT"   \
               "vicky"      "GV"   \
               "killed"     "GK"   \
               "starred"    "GS"   \
               "friends"    "GF"

# vim:set ft=conf et sw=2 ts=2 tw=79:
