# -- Meta ---------------------------------------------------------------------
# -- File:   ${DOTFILES}/mutt/configs/progress.config
# -- Author: SirJls - http://sjorssparreboom.nl
# -----------------------------------------------------------------------------

color progress white red

# vim:set ft=conf et sw=2 ts=2 tw=79:
