# -- Meta ---------------------------------------------------------------------
# -- File:   ${DOTFILES}/mutt/configs/sidebar.config
# -- Author: SirJls - http://sjorssparreboom.nl
# -----------------------------------------------------------------------------

# -- General Options ----------------------------------------------------------

set mail_check_stats
set sidebar_width         = 35
set sidebar_divider_char  = '│'
set sidebar_delim_chars   =  "/"
set sidebar_indent_string =  "  "
set sidebar_short_path
set sidebar_folder_indent
set sidebar_format        = "%B%?F? [%F]?%* %?N?%N/?%S"

# -- Colors -------------------------------------------------------------------

source ~/.mutt/colors/sidebar_day

# -- Bindings -----------------------------------------------------------------

bind index,pager <left>  sidebar-prev           # Previous Mailbox
bind index,pager <right> sidebar-next           # Next Mailbox
bind index,pager <space> sidebar-open           # Open Highlighted Mailbox
bind index,pager B       sidebar-toggle-visible # Switch the Sidebar on and off

# vim:set ft=conf et sw=2 ts=2 tw=79:
