/*     Vimb hint styles            */
._hintLabel {
    -webkit-transform:translate(-4px,-4px);
    position: absolute;
    z-index: 100000;
    font: 11px monospace !important;
    background-color: #CCC !important;
    margin: 0;
    padding: 1px 2px;
    border: none !important;
    opacity: 1 !important;
}
._hintElem {
    background-color: transparent !important;
}
._hintElem._hintFocus{
    background-color: transparent !important;
}
._hintLabel._hintFocus{
    color: #FFF !important;
    background-color: #707070 !important;
    z-index: 100001;
    opacity: 1
}

/*         General styles           */
code {font: 11px !important;} 


