/*      Vimprobable hinting          */
.vimprobable_hinting_mode_hint { 
    font: 13px monospace !important;
    color: #000 !important; 
    background-color: #ccc !important;
    border: none !important;
}

.vimprobable_hinting_mode_hint_focus { 
    font: bold 13px monospace !important;
    color: #fff !important;
    background-color: #707070 !important;
}

.vimprobable_hinted_element {
    background-color: transparent !important;
}

.vimprobable_hinted_element_focus {
    background-color: transparent !important;
}

/*         General styles           */
code {font: 10px !important;} 

/*      Unix & Linux SE hacks        
.answer-hyperlink, .question-hyperlink {
   font-size: 1.2em !important;
   font-family: "DejaVu Serif" !important;
}
.related a {
  font-size: 1.1em !important;
} */
